@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px
}
.navbar-dark .navbar-nav .nav-link::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background-color: #6cc1d8;
	transition: 0.5s;
}
.navbar{
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link:hover::after{
     height: 5px;	
}
.navbar-dark .navbar-nav .nav-link::before{
	content: "";
	position: absolute;
	background-color: #6cc1d88f;
	height: 0;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover::before{
  height: 100%;	
}


.banner-section{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 110vh;
	position: relative;
}
.banner-section .row{
    min-height: 110vh;	
}
.banner-content{
	text-align: center;
}
.banner-content h1{
    color: #14e8cd;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}
.banner-content h1 span{
    text-transform: lowercase;
    color: #fff;
    font-weight: 400;
}

.banner-content p{
	font-size: 15px;
	color: #fff;
	max-width: 350px;
	margin: 40px auto;
	
}

.banner-content ul{}
.banner-content ul li{
    margin: 0 10px;
}
.btn-custom{
    border: 2px solid #14e8cd;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #14e8cd;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
}
.btn-custom:hover{
	 background-color: #14e8cd00;
	 color: #fff;

}
.btn-custom-reserve{
    border: 2px solid #14e8cd;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;

}

.btn-custom-reserve:hover{
	 background-color: #14e8cd;
	 color: #fff;

}
.social-link{
    position: absolute;
    right: 50px;
    top: 40%;
}
.social-link li{
    position: relative;
}
.social-link li a{
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 25px;
    margin-bottom: 12px;
    color: #7b7b7b;
    font-size: 15px;
    transition: 0.5s;
}
.social-link li a:hover{
	background-color: #14e8cd;
	color: #fff;

}
.social-link span{
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    font-size: 12px;
    width: 58px;
    transform: rotate(-90deg);
    bottom: -40px;
    left: -17px;
}

.aboutme-section{
	padding:100px 0; 
}
.aboutme-section{}
.aboutme-section img{}
.aboutme-content {}
.aboutme-content p{}


.heading{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.heading h1{
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 700;
    color: #6cc1d88f;
}
.heading span{
    position: absolute;
    font-size: 6em;
    text-transform: uppercase;
    top: -9px;
    left: -38px;
    font-weight: 600;
    color: #d6cccc70;
    z-index: -1;
    line-height: 1;
}
.heading p{}


.skills-section{}
.skills-section .heading h1{}
.skills-section .heading span{
    width: 100%;
    text-align: center;
    font-size: 6em;
}


.skill-category{}
.skill-category h3{
    text-align: center;
    color: #125a98;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top: 100px;
}

.skill{
    text-align: center;
    position: relative;
}
.skill::after{
	position: absolute;
	content:  "";
	width: 100%;
	height:0;
	left: 0;
	bottom: : 0;
	transition: 0.7s;
}
.skill:hover::after{
  height: 100%;
}

.dark::after{
	background-color: #0c0c15c7;
}
.html{}
.skill img{}
.skill p{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,20%);
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.6;
    transition: 0.6s;
    opacity: 0;
}
.skill:hover p{
    bottom: 50%;
    transform: translate(-50%,50%);
    opacity: 1;
}
.yellow::after{
	background-color: #0c0c15c7;

}
.yellow{
	background-color: #0c0c15c7;
}
.graphic{
	background-color: #0c0c15c7; 
}

.resume-section{
	padding: 100px 0;
}
.resume-section .heading span{
	width: 100%;
	text-align: center;}
.resume-section h5{
    font-size: 22px;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.resume-box{
    position: relative;
    padding: 25px;
}


.resume-box::after{
   content: "";
   width: 20px;
   height: 20px;
   background: #40afcc;
   top: -10px;
   left: -9px;
   position: absolute;
   border-radius: 50%;
   transition: 0.4s ease-in-out;
   border: 2px solid transparent; 
}
.resume-box:hover::after{
	background-color: #fff;
	border: 2px solid #40afcc;
	box-shadow: 0 0 8px #40afcc;
}
.resume-box::before{
	content: "";
	width: 2px;
	height: 100%;
	background: #40afcc;
	top: 0;
	left: 0;
	position: absolute;
	transition: 0.4s ease-in-out;
}
.resume-content{
	color: #242424;
	padding: 30px 0;
	transition:0.4s ease-in-out;
}
.resume-content span{
    border: 1px solid #242424;
    padding: 4px 12px;
    display: inline-block;
    font-size: 20px;
    border-bottom-right-radius: 15px;
}
.resume-content h2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 14px 0;
}
.resume-content h3{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.resume-content p{
    margin: 0;
    font-size: 15px;
    max-width: 400px;
} 
.resume-box:hover .resume-content{
   background-image:url(../images/question.png);
   padding:30px;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   box-shadow: 0 0 10px;
}
.work-section{
	padding: 100px 0;
}
.work-section .heading span{
	width: 100%;
	text-align: center;
}
.work-section ul{
    margin: 100px 0 20px;
}
.work-section ul li{
    padding: 0 10px;
}
.work-section ul li a{
    border: 2px solid #c4dce4;
    color: #242424;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom-right-radius: 12px;
    padding: 5px 12px;
    display: block;
    transition: 0.4s ease-in-out;
}
.work-section ul li a:hover,
.work-section ul li a .active{
	 border: 2px solid #61bdd5;
	 color: #242424;
	 text-decoration: none;
}
.portfolio div{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.portfolio img{}
.portfolio img:hover{
    opacity: 0.8;
}


.@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px
}
.navbar-dark .navbar-nav .nav-link::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background-color: #6cc1d8;
	transition: 0.5s;
}
.navbar{
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link:hover::after{
     height: 5px;	
}
.navbar-dark .navbar-nav .nav-link::before{
	content: "";
	position: absolute;
	background-color: #6cc1d88f;
	height: 0;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover::before{
  height: 100%;	
}


.banner-section{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 110vh;
	position: relative;
}
.banner-section .row{
    min-height: 110vh;	
}
.banner-content{
	text-align: center;
}
.banner-content h1{
    color: #14e8cd;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}
.banner-content h1 span{
    text-transform: lowercase;
    color: #fff;
    font-weight: 400;
}

.banner-content p{
	font-size: 15px;
	color: #fff;
	max-width: 350px;
	margin: 40px auto;
	
}

.banner-content ul{}
.banner-content ul li{
    margin: 0 10px;
}
.btn-custom{
    border: 2px solid #14e8cd;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #14e8cd;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
}
.btn-custom:hover{
	 background-color: #14e8cd00;
	 color: #fff;

}
.btn-custom-reserve{
    border: 2px solid #14e8cd;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;

}

.btn-custom-reserve:hover{
	 background-color: #14e8cd;
	 color: #fff;

}
.social-link{
    position: absolute;
    right: 50px;
    top: 40%;
}
.social-link li{
    position: relative;
}
.social-link li a{
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 25px;
    margin-bottom: 12px;
    color: #7b7b7b;
    font-size: 15px;
    transition: 0.5s;
}
.social-link li a:hover{
	background-color: #14e8cd;
	color: #fff;

}
.social-link span{
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    font-size: 12px;
    width: 58px;
    transform: rotate(-90deg);
    bottom: -40px;
    left: -17px;
}

.aboutme-section{
	padding:100px 0; 
}
.aboutme-section{}
.aboutme-section img{}
.aboutme-content {}
.aboutme-content p{}


.heading{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.heading h1{
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 700;
    color: #6cc1d88f;
}
.heading span{
    position: absolute;
    font-size: 6em;
    text-transform: uppercase;
    top: -9px;
    left: -38px;
    font-weight: 600;
    color: #d6cccc70;
    z-index: -1;
    line-height: 1;
}
.heading p{}


.skills-section{}
.skills-section .heading h1{}
.skills-section .heading span{
    width: 100%;
    text-align: center;
    font-size: 6em;
}


.skill-category{}
.skill-category h3{
    text-align: center;
    color: #125a98;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top: 100px;
}

.skill{
    text-align: center;
    position: relative;
}
.skill::after{
	position: absolute;
	content:  "";
	width: 100%;
	height:0;
	left: 0;
	bottom: : 0;
	transition: 0.7s;
}
.skill:hover::after{
  height: 100%;
}

.dark::after{
	background-color: #0c0c15c7;
}
.html{}
.skill img{}
.skill p{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,20%);
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.6;
    transition: 0.6s;
    opacity: 0;
}
.skill:hover p{
    bottom: 50%;
    transform: translate(-50%,50%);
    opacity: 1;
}
.yellow::after{
	background-color: #0c0c15c7;

}
.yellow{
	background-color: #0c0c15c7;
}
.graphic{
	background-color: #0c0c15c7; 
}

.resume-section{
	padding: 100px 0;
}
.resume-section .heading span{
	width: 100%;
	text-align: center;}
.resume-section h5{
    font-size: 22px;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.resume-box{
    position: relative;
    padding: 25px;
}


.resume-box::after{
   content: "";
   width: 20px;
   height: 20px;
   background: #40afcc;
   top: -10px;
   left: -9px;
   position: absolute;
   border-radius: 50%;
   transition: 0.4s ease-in-out;
   border: 2px solid transparent; 
}
.resume-box:hover::after{
	background-color: #fff;
	border: 2px solid #40afcc;
	box-shadow: 0 0 8px #40afcc;
}
.resume-box::before{
	content: "";
	width: 2px;
	height: 100%;
	background: #40afcc;
	top: 0;
	left: 0;
	position: absolute;
	transition: 0.4s ease-in-out;
}
.resume-content{
	color: #242424;
	padding: 30px 0;
	transition:0.4s ease-in-out;
}
.resume-content span{
    border: 1px solid #242424;
    padding: 4px 12px;
    display: inline-block;
    font-size: 20px;
    border-bottom-right-radius: 15px;
}
.resume-content h2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 14px 0;
}
.resume-content h3{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.resume-content p{
    margin: 0;
    font-size: 15px;
    max-width: 400px;
} 
.resume-box:hover .resume-content{
   background-image:url(../images/question.png);
   padding:30px;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   box-shadow: 0 0 10px;
}
.work-section{
	padding: 100px 0;
}
.work-section .heading span{
	width: 100%;
	text-align: center;
}
.work-section ul{
    margin: 100px 0 20px;
}
.work-section ul li{
    padding: 0 10px;
}
.work-section ul li a{
    border: 2px solid #c4dce4;
    color: #242424;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom-right-radius: 12px;
    padding: 5px 12px;
    display: block;
    transition: 0.4s ease-in-out;
}
.work-section ul li a:hover,
.work-section ul li a .active{
	 border: 2px solid #61bdd5;
	 color: #242424;
	 text-decoration: none;
}
.portfolio div{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.portfolio img{}
.portfolio img:hover{
    opacity: 0.8;
}
.question-section{
    padding: 100px;
}
.question-section .container{

}
.question-section .col{
	padding: 0 10px;
}
.question-section .col .row{
	background-image: url(../images/question.png);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	padding: 20px 40px;
	border-bottom-right-radius: 30px;
}
.question-section h1{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}
.question-section h2{
    color: #fff;
    font-size: 45px;
    font-weight: 100;
}
.question-section a{
    font-size: 22px;
    color: #40afcc;
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: 0 0 10px #1a353c;
    display: inline-block;
    text-decoration: none;
}
.contact-section{}
.contact-section .heading span{
	width: 100%;
	text-align: center;
}
.contact-section .form-control{
    border-radius: 0;
    border-color: #4a94d4;
}
.form-btn-custom{
border: 2px solid #14e8cd;
border-radius: 0;
color: #fff;
text-transform: uppercase;
font-size: 15px;
background-color: #14e8cd;
border-bottom-right-radius: 20px;
padding-left: 20px;
padding-right: 20px;
transition: 0.5s;
float: right;
margin-top: 20px;
} 

.social-section{}
.social-section .container{}
.social-section a{
    background-color: transparent;
    align-items:;
    box-shadow: 0 0 15px;
}
.social-section ul{
    background-color: #c0deda;
}
.social-section ul li{
    padding: 0 23px;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 600;
}
.social-section ul li a{}
.social-section ul li a:hover{
	background-color: #fff;
}
